[General]
Name=Basic
Name[bs]=Basic
Name[ca]=Bàsica
Name[ca@valencia]=Bàsica
Name[cs]=Basic
Name[da]=Simpel
Name[de]=Einfach
Name[el]=Βασική
Name[en_GB]=Basic
Name[es]=Básica
Name[et]=Lihtne
Name[fi]=Yksinkertainen
Name[fr]=De base
Name[ga]=Bunúsach
Name[gl]=Básico
Name[hu]=Alap
Name[it]=Base
Name[kk]=Негізгі
Name[mr]=बेसिक
Name[nb]=Enkel
Name[nl]=Basis
Name[pl]=Podstawowa
Name[pt]=Básico
Name[pt_BR]=Básico
Name[ru]=Простой класс
Name[sk]=Základné
Name[sl]=Osnovno
Name[sv]=Enkel
Name[tr]=Temel
Name[ug]=ئاساس
Name[uk]=Базовий
Name[x-test]=xxBasicxx
Name[zh_CN]=基本
Name[zh_TW]=基本
Comment=Basic Ada template
Comment[en_GB]=Basic Ada template
Comment[fr]=Classe de base Ada
Comment[uk]=Базовий клас Ada
Comment[x-test]=xxBasic Adaxx
Category=Ada/Basic
Language=Ada
Language[bs]=Ada
Language[ca]=Ada
Language[ca@valencia]=Ada
Language[cs]=Ada
Language[da]=Ada
Language[de]=Ada
Language[el]=Ada
Language[en_GB]=Ada
Language[es]=Ada
Language[et]=Ada
Language[fi]=Ada
Language[fr]=Ada
Language[ga]=Ada
Language[gl]=Ada
Language[hu]=Ada
Language[it]=Ada
Language[kk]=Ada
Language[nb]=Ada
Language[nds]=Ada
Language[nl]=Ada
Language[nn]=Ada
Language[pl]=Ada
Language[pt]=Ada
Language[pt_BR]=Ada
Language[ru]=Ada
Language[se]=Ada
Language[sk]=Ada
Language[sl]=Ada
Language[sv]=Ada
Language[tr]=Ada
Language[ug]=Ada
Language[uk]=Ada
Language[x-test]=xxAdaxx
Language[zh_CN]=Ada
Language[zh_TW]=Ada
Type=Test
Files=Procedure

[Procedure]
Name=procedure
Name[en_GB]=procedure
File=procedure.adb
OutputFile={{ name }}.adb
