[General]
Name=Getopt
Comment=Ada main proc with parameter parsing
Category=Ada/Basic
Language=Ada
Language[bs]=Ada
Language[ca]=Ada
Language[ca@valencia]=Ada
Language[cs]=Ada
Language[da]=Ada
Language[de]=Ada
Language[el]=Ada
Language[en_GB]=Ada
Language[es]=Ada
Language[et]=Ada
Language[fi]=Ada
Language[fr]=Ada
Language[ga]=Ada
Language[gl]=Ada
Language[hu]=Ada
Language[it]=Ada
Language[kk]=Ada
Language[nb]=Ada
Language[nds]=Ada
Language[nl]=Ada
Language[nn]=Ada
Language[pl]=Ada
Language[pt]=Ada
Language[pt_BR]=Ada
Language[ru]=Ada
Language[se]=Ada
Language[sk]=Ada
Language[sl]=Ada
Language[sv]=Ada
Language[tr]=Ada
Language[ug]=Ada
Language[uk]=Ada
Language[x-test]=xxAdaxx
Language[zh_CN]=Ada
Language[zh_TW]=Ada
Type=Test
Files=Procedure

[Procedure]
Name=procedure
Name[en_GB]=procedure
File=procedure.adb
OutputFile={{ name }}.adb
